<% if current_user %>
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
      <nav class="space-y-1">
        <a class="bg-gray-200 text-gray-900 dark:bg-gray-700/50 dark:text-gray-300 group rounded-md px-3 py-2 flex items-center text-sm font-medium" href="<%= url_for(users_profile_edit_url) %>">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500 group-hover:text-gray-700 dark:text-gray-300 dark:group-hover:text-gray-300 flex-shrink-0 -ml-1 mx-3 h-6 w-6" role="img" aria-labelledby="ab2kik8tmojy2n0qeid1w90apsdluvb1"><title id="ab2kik8tmojy2n0qeid1w90apsdluvb1">Profile icon</title>
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
          </svg>
          <span class="truncate mx-3"> <%= t("profiles.profile") %> </span>
        </a>
        <a class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 dark:hover:bg-gray-600/70 dark:hover:text-gray-300 dark:text-gray-400 group rounded-md px-3 py-2 flex items-center text-sm font-medium" href="<%= url_for(edit_user_registration_url) %>">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-300 flex-shrink-0 -ml-1 mr-3 h-6 w-6" role="img" aria-labelledby="ack6ppb0ma7u89tch673cv7qitmzi8n1"><title id="ack6ppb0ma7u89tch673cv7qitmzi8n1">Password icon</title>
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z"></path>
          </svg>
          <span class="truncate mx-3"> <%= t("devise.passwords.password") %> </span>
        </a>
      </nav>
    </aside>
    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
      <%= form_with model: current_user, url: users_profile_path, html: { method: :patch } do |form| %>
        <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
          <div class="p-8 pb-0 ">
            <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-200"><%= t("profiles.profile") %></h3>
            <p class="text-sm mt-2 text-gray-500 dark:text-gray-400"><%= t("profiles.profile_info") %></p>
          </div>
          <div class="p-8 ">
            <div class="grid grid-cols-6 gap-6">            
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :username, t("profiles.username"), class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
                <div class="mt-1 relative rounded-md shadow-sm">
                  <%= form.text_field :username, class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
                </div>
                <div class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"></div>
              </div>
              <div class="col-span-6 sm:col-span-4">
                <%= form.label :email, t("profiles.email"), class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
                <div class="mt-1 relative rounded-md shadow-sm">
                  <%= form.email_field :email, class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
                </div>
                <div class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"></div>
              </div>
              <div class="col-span-6 sm:col-span-6">
                <%= form.label :learning_goal, t("profiles.learning_goal"), class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
                <div class="mt-1 relative rounded-md shadow-sm">
                  <%= form.text_area :learning_goal, class: 'dark-form-input', placeholder: t("profiles.wanna_be"), rows: 4, class: "mt-1 block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
                </div>
                <div class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"></div>
              </div>
              <div class="col-span-6">
                <% if I18n.locale == :en %>
                  <%= form.label :avatar, t("profiles.avatar"), class: "mr-5 mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <% else %>
                  <%= form.label :avatar, t("profiles.avatar"), class: "ml-5 mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <% end %>
                <%= form.file_field :avatar, class: "text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400", accept: 'image/svg,image/png,image/jpg,image/jpeg' %>
                <div class="flex items-center mt-4">
                  <%= render partial: "shared/user_avatar", locals: {class_avatar: "w-16 h-16 rounded-full"} %>
                </div>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right dark:bg-gray-700/40">
            <%= form.submit t("devise.save"), class: 'button button--primary py-2 px-4' %>
          </div>
        </div>
      <% end %>
      <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
        <div class="p-8 pb-0 ">
          <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-200"><%= t("profiles.danger") %></h3>
          <p class="text-sm mt-2 text-gray-500 dark:text-gray-400"><%= t("profiles.danger") %></p>
        </div>
        <div class="p-8 ">
          <div class="inline-flex flex-col space-y-5">
            <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="button button--clear px-3 py-2 text-sm" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 -ml-0.5 mr-2 h-4 w-4 text-red-700 dark:text-red-500" role="img" aria-labelledby="a6xowveykh2o2gaj0x1y01c1e8pbt05m"><title id="a6xowveykh2o2gaj0x1y01c1e8pbt05m">Trash can icon</title>
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
              </svg>
              <span class="mx-2"><%= t("profiles.delete_account") %></span>
            </button>
            <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
              <div class="relative w-full h-full max-w-md md:h-auto">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="popup-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                  <div class="p-6 text-center">
                    <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"><%= t("profiles.delete.cannot_be_undone") %></h3>
                    <%= link_to destroy_user_registration_path, class: 'text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2', data: { turbo_method: :delete } do %>
                      <%= t("profiles.delete.yes_sure") %>
                    <% end %>
                    <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"><%= t("profiles.delete.no_cancel") %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
