<h1>Edit: <%= @profile.username%>'s Courses</h1>

<form method="post" action = <%= update_profile_path(@profile.id)%>>
    <input type="hidden" name="_method" value="patch"> 
    <% @tracks.each do |track|%>
        <%= track.name%><hr>        
        <% track.courses.each do |course|%>
            <div>
                <%= check_box_tag "courses_ids[]", course.id %>
                <%= label_tag "courses_ids_", course.name %><br>
            </div>
        <% end%>
    <% end%>
    <input type="submit">
</form>
