<div class="py-5 mx-auto">
  <div class="flex flex-wrap -m-4">
    <% @tracks.each do |track| %>
      <div class="p-4 lg:w-1/3">  
        <div class="h-full bg-zinc-100 shadow dark:bg-gray-800 px-8 pt-16 pb-16 rounded-lg overflow-hidden relative flex flex-col">
          <div class="p-8 pb-0 flex flex-col justify-between items-center">
            <a class="p-2 dark:bg-gray-700/50 rounded-full" href="<%= url_for(courses_url(track_id: track.id)) %>">
              <img alt="Full Stack Ruby on Rails badge" class="w-24 h-24" src="/assets/badge-ruby-on-rails-5c5f3a237abf4d3d3cb3d7efc64cdbd9e493b876bd7a64c8b70977204d93ddaa.svg">
            </a>
            <div class="w-full flex justify-between pt-6">
              <p class=" text-gold-600">PATH</p>
              <p class=" text-gray-500 dark:text-gray-400"><%= track.courses_count %> Courses</p>
            </div>
          </div>
          <div class="p-8 flex-grow">
            <a class="no-underline" href="<%= url_for(courses_url(track_id: track.id)) %>">
              <h2 class="text-xl font-medium pb-4 text-gray-800 dark:text-gray-200">
                <%= track.name %>
              </h2>
            </a>
            <p class="prose prose-gray max-w-none text-gray-500 dark:text-gray-400">
              <%= track.description %>
            </p>
          </div>
          <div class="p-8 pt-0 ">
            <%= link_to "View", courses_path(track_id: track.id), class: "button button--primary px-10 lg:px-20 w-full" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
