<div class="page-container">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-200">sign up for a new account</h2>
    <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-300">
      Or
      <a class="font-medium text-gold-600 hover:text-gold-500" href="<%= url_for(new_session_url(resource_name)) %>">Sign in to your account</a>
    </p>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
      <div class="p-8 ">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="space-y-6">
            <div>
              <%= f.label :email, class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
              <div class="mt-1 relative rounded-md shadow-sm">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input border-red-400 text-red-600 placeholder-red-300 focus:ring-red-500 focus:border-red-500" %>
              </div>
            </div>
            <div>
              <%= f.label :password, class:"block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <div class="mt-1 relative rounded-md shadow-sm">
                <%= f.password_field :password, autocomplete: "new-password", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
              </div>
            </div>
            <div>
              <%= f.label :password_confirmation, class:"block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
              <div class="mt-1 relative rounded-md shadow-sm">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input name="user[remember_me]" type="hidden" value="0" autocomplete="off"><input class="form-checkbox text-teal-700 focus:ring-teal-800 h-4 w-4 border-gray-300 rounded" type="checkbox" value="1" checked="checked" name="user[remember_me]" id="user_remember_me">
                <label class="ml-2 block text-sm text-gray-900 mb-0 dark:text-gray-300" for="user_remember_me">Remember me</label>
              </div>
            </div>
            <div class="text-sm">
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class:  "font-medium text-gray-600 underline dark:text-gray-300"%>
            </div>
            <div>
              <%= f.submit "Sign up", style: "background-color: rgb(15 118 110);", class: "button button--primary w-full py-2 px-4 text-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


