<div class="mt-6">
  <div class="relative">
    <div class="absolute inset-0 flex items-center">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center text-sm">
      <p class="bg-white dark:bg-gray-800 px-2 text-gray-500 dark:text-gray-400"><%= t("devise.continue_with") %></p>
    </div>
  </div>
</div>
<div class="mt-6 flex items-center justify-center">
  <div>
    <%= button_to user_twitter_omniauth_authorize_path, data: {turbo: "false"}, class: "mx-3 flex h-12 w-12 items-center justify-center rounded-lg border border-stroke bg-white sm:mx-4 sm:h-[60px] sm:w-[60px]" do %>
      <span class="sr-only">Sign in with Twitter</span>
      <%= image_tag 'icons/twitter.svg' %>
    <% end %>
  </div>
  <div>
    <%= button_to user_google_oauth2_omniauth_authorize_path, data: {turbo: "false"}, class: "mx-3 flex h-12 w-12 items-center justify-center rounded-lg border border-stroke bg-white sm:mx-4 sm:h-[60px] sm:w-[60px]" do %>
      <span class="sr-only">Sign in with Google</span>
      <%= image_tag 'icons/google.svg' %>
    <% end %>
  </div>
</div>
