<div class="py-20 text-center max-w-4xl mx-auto">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><%= t("home.nothing_here.first") %>  <span class="text-blue-600 dark:text-blue-500"><%= t("home.nothing_here.second") %></span> <%= t("home.nothing_here.last") %>.</h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"><%= t("home.nothing_here.text") %>.</p>
    <a href="<%= url_for(tracks_url)%>" style="margin-top: 20px;" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        <%= t("home.nothing_here.view_tracks") %>
        <%= render partial: "shared/arrow_left" %>
    </a>
</div>
