<div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset mb-10">
  <div class="p-8">
    <div class="flex items-center flex-col md:flex-row gap-4">
      <%= render partial: "shared/user_avatar", locals: {class_avatar: "w-20 h-20 rounded-full shadow-inner"} %>
      <h2 class="truncate w-full basis-2/5 text-xl text-center md:text-center md:pl-4 font-medium text-gray-700 dark:text-gray-300">
        <% if current_user.username.present? %>
          <%= current_user.username %>
        <% else %>
          <%= link_to t("home.your_name"), users_profile_edit_path, class: "text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 underline" %>
        <% end %>
      </h2>
      <p class="text-gray-500 dark:text-gray-400">
        <% if current_user.learning_goal.present? %>
          <%= current_user.learning_goal %>
        <% else %>
          <%= link_to t("home.your_learning_goal"), users_profile_edit_path, class: "text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 underline" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class="flex flex-wrap" id="tabs-id">
  <div class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-indigo-500" onclick="changeAtiveTab(event,'tab-active')">
          <i class="fas fa-space-shuttle text-base mr-1"></i><%= t('home.active') %>
        </a>
      </li>
      <li class="-mb-px mx-2 last:mr-0 flex-auto text-center">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-neutral-600 bg-white" onclick="changeAtiveTab(event,'tab-in-progress')">
          <i class="fas fa-cog text-base mr-1"></i><%= t('home.in_progress') %>
        </a>
      </li>
      <li class="-mb-px mx-2 last:mr-0 flex-auto text-center">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-neutral-600 bg-white" onclick="changeAtiveTab(event,'tab-completed-courses')">
          <i class="fas fa-briefcase text-base mr-1"></i><%= t('home.completed') %>
        </a>
      </li>
    </ul>
    <div class="tab-content tab-space"> 
      <div class="block" id="tab-active">
        <%= render partial: "active", locals: {active_step: active_step, active_course: active_course} %>
      </div>
      <div class="hidden" id="tab-in-progress">
        <%= render partial: "list_courses", locals: {courses: in_progress} %>
      </div>
      <div class="hidden" id="tab-completed-courses">
        <%= render partial: "list_courses", locals: {courses: completed_courses} %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function changeAtiveTab(event,tabID){
    let element = event.target;
    while(element.nodeName !== "A"){
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for(let i = 0 ; i < aElements.length; i++){
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-indigo-500");
      aElements[i].classList.add("text-neutral-600");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-neutral-600");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-indigo-500");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>
