<div class="sm:mx-auto sm:w-full sm:max-w-md">
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-200">Sign in to your account</h2>
  <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-300">
    Or
    <a class="font-medium text-gold-600 hover:text-gold-500" href="<%= url_for(new_registration_url(resource_name)) %>">sign up for a new account</a>
  </p>
</div>
<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
    <div class="p-8 ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="space-y-6">
          <div>
            <%= f.label :email, class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
            <div class="mt-1 relative rounded-md shadow-sm">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input border-red-400 text-red-600 placeholder-red-300 focus:ring-red-500 focus:border-red-500" %>
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 " for="user_password">Password</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <%= f.password_field :password, autocomplete: "current-password", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input"  %>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input name="user[remember_me]" type="hidden" value="0" autocomplete="off"><input class="form-checkbox text-teal-700 focus:ring-teal-800 h-4 w-4 border-gray-300 rounded" type="checkbox" value="1" checked="checked" name="user[remember_me]" id="user_remember_me">
              <label class="ml-2 block text-sm text-gray-900 mb-0 dark:text-gray-300" for="user_remember_me">Remember me</label>
            </div>
            <div class="text-sm">
              <a class="font-medium text-gray-600 underline dark:text-gray-300" href="<%= url_for(new_password_url(resource_name)) %>">Forgot your password?</a>
            </div>
          </div>
          <div class="text-sm" style="text-align: right;">
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class:  "font-medium text-gray-600 underline dark:text-gray-300"%>
          </div>
          <div>
            <%= f.submit "Log in", style: "background-color: rgb(15 118 110);", class: "button button--primary w-full py-2 px-4 text-sm" %>
          </div>
        </div>
      <% end %>
      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <p class="bg-white dark:bg-gray-800 px-2 text-gray-500 dark:text-gray-400">Or continue with</p>
          </div>
        </div>
      </div>
      <div class="mt-6 grid grid-cols-2 gap-3">
        <div>
          <span class="sr-only">Sign in with Google</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" role="img" aria-labelledby="an5pjy7rcdysh8rin7tedxp3e8vm74ui" class="h-5 w-5">
            <title id="an5pjy7rcdysh8rin7tedxp3e8vm74ui">google icon</title>
            <path d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"></path>
          </svg>
        </div>
      </div>
      <div>
        <%= button_to "Google", user_google_oauth2_omniauth_authorize_path, data: {turbo: "false"} %>
      </div>
    </div>
  </div>
</div>
