<%= render partial: "shared/breadcrumbs", locals: {track: @track, course: @course, step: @step, where_am_i: 'step'} %>
<p><strong><%= @step.name %></strong></p>
<div>
  <% if @step.which_type == "lecture" %>
    <%= render partial: "video", locals: {step: @step, my_asset: @my_asset} %>
    <%= render partial: "audio", locals: {step: @step} %>
  <% elsif @step.which_type == "video" %>
    <%= render partial: "video", locals: {step: @step, my_asset: @my_asset} %>
  <% elsif @step.which_type == "audio" %>
    <%= render partial: "audio", locals: {step: @step} %>
  <% elsif @step.which_type == "quiz" %>
    <%= render partial: "quiz", locals: {my_asset: @my_asset} %>
  <% end %>
</div>
<div class="bg-gray-100 dark:bg-gray-800/30 text-center">
  <div class="page-container">
    <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
      <div class="p-8 ">
        <div class="flex flex-col justify-center max-w-sm mx-auto space-y-6 md:max-w-full md:space-y-0 md:flex-row md:space-x-7">
          <%= link_to 'View Course', course_path(@course), class: "button button--secondary font-medium" %>
          <% if can? :update, @user_progress %>
            <div class="button button--secondary font-medium">
              <% unless @up_status == "completed"%>
                <%= button_to 'Mark complete', user_progress_path(course_id: @course.id, step_id: @step.id), method: :patch %>
              <% else %>
                <%= button_to 'Lesson Completed', user_progress_path(course_id: @course.id, step_id: @step.id), method: :patch %>
              <% end %>
            </div>
          <% end %>
          <% if @index_plus_one < @course.steps_count %>
            <%= link_to 'Next Step', course_step_path(@course, @step.next_step), class: "button button--secondary font-medium" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
