<%= render partial: "shared/breadcrumbs", locals: {track: @track, course: @course, step: @step, where_am_i: 'step'} %>
<div>
  <% if @step.which_type == "lecture" %>
    <%= render partial: "video" %>
    <div class="inline-flex items-center justify-center w-full">
      <hr style="width:60%" class="h-1 mx-auto my-4 bg-gray-400 border-0 rounded md:my-10 dark:bg-gray-700">
      <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">or listen to an audio</span>
    </div>
    <%= render partial: "audio" %>
  <% elsif @step.which_type == "video" %>
    <%= render partial: "video" %>
  <% elsif @step.which_type == "audio" %>
    <%= render partial: "audio" %>
  <% elsif @step.which_type == "quiz" %>
    <%= render partial: "quiz" %>
  <% end %>
</div>

<div class="mt-10 mx-10">
  <div class="flex flex-wrap lg:flex-nowrap">
    <div class="flex flex-wrap md:flex-nowrap flex-grow order-3 w-full lg:order-none mt-4 lg:mt-auto">
      <div class="flex-grow">
        <h1 class="text-xl tracking-tight leading-5 font-extrabold text-gray-900 dark:text-gray-400 break-words sm:text-2xl sm:leading-8 md:text-3xl"><%= @step.name %></h1>
        <% unless @step.which_type == "quiz" %>
          <div class="text-xl mt-4 text-gray-700 dark:text-white">with <span class="text-2xl font-semibold text-blue-500">
            <%= @step.stepable.teacher %></span>
          </div>
        <% end %>
      </div>
      <div class="flex-shrink-0 mt-4 md:mt-0 md:ml-4">
        <% if can? :update, @user_progress %>
          <% unless @up_status == "completed"%>
            <div class="button button--secondary hover:bg-purple-500 font-medium mt-3 bg-purple-400">
              <%= button_to 'Mark complete', user_progress_path(course_id: @course.id, step_id: @step.id), method: :patch %>
            </div>
          <% else %>
            <div class="button button--secondary hover:bg-green-500 font-medium mt-3 bg-green-400">
              <%= button_to 'Lesson Completed', user_progress_path(course_id: @course.id, step_id: @step.id), method: :patch %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @index_plus_one < @course.steps_count %>
      <a class="flex p-2 bg-gray-200 hover:bg-gray-300 dark:bg-white rounded-lg ml-4 items-center flex-shrink-0 justify-center w-12 h-14 lg:h-auto flex-1 lg:flex-none" href="<%= url_for course_step_url(@course, @step.next_step)%>">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:text-gray-900">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </a>
    <% end %>
  </div>
</div>
