<h1 class="text-3xl font-bold underline" ><%= @track.name %></h1>
<% @courses.each do |course| %>
  <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset mb-16 relative">
    <div class="p-8 pb-0 ">
      <div class="flex flex-col items-center justify-between space-y-5 border-b border-gray-300 dark:border-gray-600 pb-4 md:flex-row md:space-y-0">
        <div class="flex flex-col items-center space-y-4 md:flex-row md:space-x-4 text-center md:space-y-0">
          <a href="<%= url_for(course_url(course)) %>">
            <div class="shadow-md dark:shadow-none rounded-full flex w-24 h-24" data-test-id="default-badge">
              <img alt="Intermediate HTML and CSS badge" class="p-2.5" src="/assets/badge-html-css-2337ff8e484e1eeda0693d331efe7d91100a5f4899b3273b454743ee5c40e271.svg">
            </div>
          </a>
          <a class="flex flex-col md:items-start" href="<%= url_for(course_url(course)) %>">
            <h2 id="intermediate-html-and-css" class="font-medium text-xl md:text-left text-gray-600 dark:text-gray-200">
              <%= course.name %>
            </h2>
            <span class=" text-sm text-gray-400"><%= course.steps_count %> Lessons</span>
          </a>
        </div>
        <a class="button button--clear" href="<%= url_for(course_url(course)) %>">Open Course</a>
      </div>
    </div>
    <div class="p-8 ">
      <p class="prose prose-gray dark:prose-invert max-w-none"><%= course.description %></p>
    </div>
  </div>
<% end %>

<% if can? :manage, Course %>
  <div class="bg-gray-50 px-4 py-3 text-center sm:px-6">
    <%= link_to 'Add New Course', new_course_path, class: "button button--secondary" %>
  </div>
<% end %>
