<div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset mb-10">
  <div class="p-8 pb-0 px-6 pt-4 pb-4 border-b dark:border-gray-700">
    <a id="introduction" class="no-underline scroll-mt-5 inline-block" href="#introduction">
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-300 hover:underline w-fit">
        <%= @course.name %>
      </h3>
    </a>
  </div>
  <div class="p-8 py-4 px-4">
    <div class="flex flex-col space-y-3" data-test-id="course-section">
    <% @course.steps.each do |step| %>
      <div class="flex justify-between items-center flex-shrink-1 group hover:bg-gray-100 dark:hover:bg-gray-700 px-2 rounded-lg transition ease-in-out  hover:transition-colors">
        <a class="grow py-3" href="<%= url_for(course_step_url(@course, step)) %>">
          <div class="flex items-center gap-3">
            <% if step.which_type == "video" %>
              <%= image_tag "icons/play.svg", class: "w-7" %>
            <% elsif step.which_type == "audio" %>
              <%= image_tag "icons/audio.svg", class: "w-7" %>
            <% elsif step.which_type == "quiz" %>
              <%= image_tag "icons/quiz.svg", class: "w-6" %>
            <% end %>
            <p class="text-gray-800 dark:text-gray-300"><%= step.name %></p>
          </div>
        </a>
        <% if @progress_hash[step.id] == 'started' %>
          <button data-controller="complete-button" data-complete-button-is-completed-value="false" data-complete-button-is-loading-value="false" class="complete-icon-button h-7 sm:h-8 text-gray-400 dark:text-gray-500 hover:scale-105">
            <span class="complete-icon-button__completed-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" role="img" aria-labelledby="aki537jyoi9o1pfjr6duuvx8gscc6ral a9aj7940g46wy7015omvmtv7qp5z0lm" class="h-7 sm:h-8"><title id="aki537jyoi9o1pfjr6duuvx8gscc6ral">check</title><desc id="a9aj7940g46wy7015omvmtv7qp5z0lm">checkmark icon</desc>
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </button>
        <% elsif @progress_hash[step.id] == 'completed' %>
          <button data-controller="complete-button" data-complete-button-is-completed-value="true" data-complete-button-is-loading-value="false" class="complete-icon-button h-7 sm:h-8 text-gray-400 dark:text-gray-500 hover:scale-105 complete-icon-button--completed !text-teal-700 dark:!text-teal-600">
            <span class="complete-icon-button__completed-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" role="img" aria-labelledby="adc5dfa117j0vd0goghh301mgj94wyuk a7qrqkzkmal1lrjfj6ayzmwyk1bkwy2t" class="h-7 sm:h-8"><title id="adc5dfa117j0vd0goghh301mgj94wyuk">check</title><desc id="a7qrqkzkmal1lrjfj6ayzmwyk1bkwy2t">checkmark icon</desc>
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </button>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% if can? :manage, @course %>
  <div class="bg-gray-100 dark:bg-gray-800/30 text-center">
    <div class="page-container">
      <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
        <div class="p-8 ">
          <div class="flex flex-col justify-center max-w-sm mx-auto space-y-6 md:max-w-full md:space-y-0 md:flex-row md:space-x-7">
            <%= link_to 'Add New Lecture', new_course_step_path(@course, stepable: "lecture"), class: "button button--secondary font-medium" %>
            <%= link_to 'Add New Quiz', new_course_step_path(@course, stepable: "quiz"), class: "button button--secondary font-medium" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
